/*********************tag selector********************/


h1 {
  color: black;
  font-size: 40px;
}


/**********************class selector*******************/

.
.instagramcircular {
  border-radius: 50%;

}
/**********************id selector*******************/
